input[type="text"]
{
    font-size: 11px;
    font-style: normal;
}
input[type="password"]
{
    font-size: 11px;
    font-style: normal;
    color: red;
    border-color: red;
}

#area{
    font-size: 20px;
    font-style: italic;
}
